* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
    background: #000000 ;
    /*background: #000000;*/
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}


.svg-text {
  animation: flicker 6s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}
.svg-text-wang {
  animation: grow 2s;
  animation-delay:6s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}

@keyframes flicker {
  0% {
      opacity: 1;
  }
  5% {
      opacity: 0.4;
  }
  10% {
      opacity: 1;
  }
  13% {
      opacity: 0.4;
  }

  26% {
      opacity: 1;
  }

  37% {
      opacity: 0.4;
  }

  58% {
      opacity: 1;
  }

  69% {
      opacity: 0.4;
  }

  77% {
      opacity: 1;
  }

  89% {
      opacity: 1;
  }

  90% {
      opacity: 0.4;
  }

  100% {
      opacity: 0.1;
  }
}
@keyframes grow {
  0% {
      opacity: 1;
  }
  10% {
      opacity: 0.4; 
  }
  20% {
      opacity: 1; 
  }
  30% {
      opacity: 0.4; 
  }
  50% {
      stroke: aliceblue;
      fill:blanchedalmond;
  }
  100% {
      opacity: 0.1;
      fill: #f20000;

  }
}
